# Tratamento de Dados

In [27]:
#DF_DADOS SERÁ O NOVO DATAFRAME QUE IREMOS MONTAR (COPIANDO DO ORIGINAL)
df_dados = df_original.loc[df_original['QT_FILHOS'] <= 2]
df_dados.shape

(448188, 24)

In [28]:
df_dados.groupby(['QT_FILHOS']).size()

QT_FILHOS
0.0        10
1.0    212353
2.0    235825
dtype: int64

In [29]:
print("Média de filhos: ", df_dados['QT_FILHOS'].mean())
print("Mediana de filhos: ", df_dados['QT_FILHOS'].median())
print("Moda: ", df_dados['QT_FILHOS'].mode())

Média de filhos:  1.5261519719403465
Mediana de filhos:  2.0
Moda:  0    2.0
Name: QT_FILHOS, dtype: float64

In [30]:
# Preencheremos os valores NULOS com a mediana dos dados
df_dados['QT_FILHOS'] = df_dados['QT_FILHOS'].fillna((df_dados['QT_FILHOS'].median()))
df_dados.isnull().sum()

ID_CLIENTE                          0
FORMA_AQUISICAO                     0
IDADE_CLIENTE                       0
SEXO                                0
QT_FILHOS                           0
DT_AQUISICAO                        0
DT_CANCELAMENTO                330987
DIAS_ATIVO                          0
MESES_ATIVO                         0
DURACAO_CONTRATO                    0
VL_PLANO_ADESAO                     0
VL_PLANO_ATUAL                      0
NOME_PRODUTO                        0
QT_PONTOS_INSTALADOS                0
QT_PC_PAGAS                         0
QT_PC_VENCIDAS                      0
QT_PC_PAGA_ATRASO                   0
QT_PC_PAGA_EM_DIA                   0
QT_ACORDO_PAGAMENTO                 0
VL_MENSALIDADE_ATRASO               0
VL_MENSALIDADE_DT_AQUISICAO         0
VL_MENSALIDADE_DT_ATUAL             0
SITUACAO                            0
COD_SITUACAO                        0
dtype: int64

In [31]:
# Substituindo os dados da variavel DURACAO_CONTRATO para mantermos somente os números
df_dados['DURACAO_CONTRATO'] = df_dados['DURACAO_CONTRATO'].replace(['12 Meses'], 12)
df_dados['DURACAO_CONTRATO'] = df_dados['DURACAO_CONTRATO'].replace(['24 Meses'], 24)
df_dados['DURACAO_CONTRATO'] = df_dados['DURACAO_CONTRATO'].replace(['36 Meses'], 36)
df_dados['DURACAO_CONTRATO'] = df_dados['DURACAO_CONTRATO'].replace(['48 Meses'], 48)

In [32]:
# Visualizando as primeiras linhas do dataset
df_dados.head()

,ID_CLIENTE,FORMA_AQUISICAO,IDADE_CLIENTE,SEXO,QT_FILHOS,DT_AQUISICAO,DT_CANCELAMENTO,DIAS_ATIVO,MESES_ATIVO,DURACAO_CONTRATO,VL_PLANO_ADESAO,VL_PLANO_ATUAL,NOME_PRODUTO,QT_PONTOS_INSTALADOS,QT_PC_PAGAS,QT_PC_VENCIDAS,QT_PC_PAGA_ATRASO,QT_PC_PAGA_EM_DIA,QT_ACORDO_PAGAMENTO,VL_MENSALIDADE_ATRASO,VL_MENSALIDADE_DT_AQUISICAO,VL_MENSALIDADE_DT_ATUAL,SITUACAO,COD_SITUACAO
0,1,Site,23,MASCULINO,0.0,18/06/2021,NaN,33,1,48,450,518,PLANO FAMILIA (100 CANAIS HD),1,1,4,0,1,1,2070,450,518,ATIVO,0
1,2,Vendedor,24,FEMININO,0.0,10/04/2018,NaN,1198,39,48,230,265,PLANO BASICO (30 CANAIS HD),2,5,0,1,4,0,0,230,265,ATIVO,0
2,3,Site,25,MASCULINO,0.0,09/10/2020,NaN,285,9,48,290,334,PLANO BASICO PLUS (50 CANAIS HD),3,5,0,3,2,0,0,290,334,ATIVO,0
4,5,Vendedor,27,MASCULINO,0.0,19/09/2019,NaN,671,22,48,230,265,PLANO BASICO (30 CANAIS HD),2,5,0,5,0,0,0,230,265,ATIVO,0
5,6,Vendedor,28,FEMININO,1.0,23/03/2018,NaN,1216,40,48,230,265,PLANO BASICO (30 CANAIS HD),3,5,0,0,5,0,0,230,265,ATIVO,0

In [33]:
# Visualizando as informações dos tipos de variaveis
#DURACAO_CONTRATO ESTAVA COMO OBJETO E AGORA ESTA COMO INTEIRO
df_dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 448188 entries, 0 to 448446
Data columns (total 24 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID_CLIENTE                   448188 non-null  int64
 1   FORMA_AQUISICAO              448188 non-null  object
 2   IDADE_CLIENTE                448188 non-null  int64
 3   SEXO                         448188 non-null  object
 4   QT_FILHOS                    448188 non-null  float64
 5   DT_AQUISICAO                 448188 non-null  object
 6   DT_CANCELAMENTO              117201 non-null  object
 7   DIAS_ATIVO                   448188 non-null  int64
 8   MESES_ATIVO                  448188 non-null  int64
 9   DURACAO_CONTRATO             448188 non-null  int64
 10  VL_PLANO_ADESAO              448188 non-null  int64
 11  VL_PLANO_ATUAL               448188 non-null  int64
 12  NOME_PRODUTO                 448188 non-null  object
 13  QT_PONTOS_INSTALADOS         448188 non-null  int64
 14  QT_PC_PAGAS                  448188 non-null  int64
 15  QT_PC_VENCIDAS               448188 non-null  int64
 16  QT_PC_PAGA_ATRASO            448188 non-null  int64
 17  QT_PC_PAGA_EM_DIA            448188 non-null  int64
 18  QT_ACORDO_PAGAMENTO          448188 non-null  int64
 19  VL_MENSALIDADE_ATRASO        448188 non-null  int64
 20  VL_MENSALIDADE_DT_AQUISICAO  448188 non-null  int64
 21  VL_MENSALIDADE_DT_ATUAL      448188 non-null  int64
 22  SITUACAO                     448188 non-null  object
 23  COD_SITUACAO                 448188 non-null  int64
dtypes: float64(1), int64(17), object(6)
memory usage: 85.5+ MB

In [34]:
# Identificando as quantidades máximas para tratar os OUTLIERS
print(df_dados['QT_PC_PAGAS'].max())
print(df_dados['QT_PC_PAGA_EM_DIA'].max())


#Maior é 100 porém o contrato máximo é de 48 (???) Como pagar 100 parcelas se o máximo é 48

100
100

In [35]:
# Registros que possuirem as quantidades superiores a duração do contrato, iremos alterar e colocar o número de duração contrato
df_dados.loc[df_dados.QT_PC_PAGAS > df_dados.DURACAO_CONTRATO, 'QT_PC_PAGAS'] = df_dados.DURACAO_CONTRATO
df_dados.loc[df_dados.QT_PC_PAGA_EM_DIA > df_dados.DURACAO_CONTRATO, 'QT_PC_PAGA_EM_DIA'] = df_dados.DURACAO_CONTRATO

In [36]:
# Verificando se as variáveis foram ajustadas
print(df_dados['QT_PC_PAGAS'].max())
print(df_dados['QT_PC_PAGA_EM_DIA'].max())

48
48